name: release-zip

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create zip
        run: |
          mkdir -p dist
          zip -r dist/keenetic-tg-bot.zip . -x ".git/*" -x "dist/*"

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/keenetic-tg-bot.zip
